@import 'utils/variables';
@import 'components/type';
@import 'components/background-anim';


*{
    margin: 0;
    padding: 0;
}
html {
	scroll-behavior: smooth;
}
ul{
    padding: 0;
    list-style: none;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: $c-text;
}
body{
    background-color: $c-bg;
}


/* NAV */ 

.menu{
    display: flex;
    align-items: center;
    margin: 32px 33px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @media (min-width: $q-mobile1){
        margin: 32px 30px;
    }
    @media (min-width: $q-laptop){
        margin: 34px 44px;
    }

    &__flo{
        flex-grow: 1;
        z-index: 65;
    }
    &__liste{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0%;
        opacity: 0;
        z-index: -15;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 40px;
        background-color: $c-bg;
        //transition: transform 0.4s ease-out;
        @media (min-width: $q-laptop){
            display: flex;
            opacity: 1;
            z-index: 50;
            gap: 44px;
            position: relative;
            width: auto;
            height: auto;
            left: 0;
            flex-direction: initial;
        }
    }
    &__burger{
        z-index: 60;
        @media (min-width: $q-laptop){     
            display: none;
        }
    }
}

body[data-menu] .menu__liste {
    opacity: 1;
    z-index: 50;
    //transition: transform 0.5s ease-in-out;
    @media (min-width: $q-laptop){
        transform: none;
    }
}


/* logo */
.menu__flo a{
    font-size: 22px;
    color: $c-text;
    padding: 4px 10px 2px;
    border: 1px solid #0F0F0F;
    border-radius: 20px;
    @media (min-width:$q-desktop){
        font-size: 25px;
    }
}

/*MAIN*/
.main{
    margin-top: 93.89px;
    overflow: hidden;
    @media (min-width:$q-laptop){
        margin-top: 104px;
    }
}

/* ABOUT */ 
.about{
    margin: 0 33px;
    padding-top: 48px;
    .txt{
        max-width: 450px;
        padding-top: 160px;
    }
    .scroll-indication{
        position: fixed;
        z-index: 1;
        right: 33px;
        bottom: 32px;
        @media (min-width:$q-mobile1){
            right: 30px;
            bottom: 32px;
        }
        @media (min-width:$q-laptop){
            right: 50%;
            bottom: 132px;
            transform: translateX(50%);
        }
    }

    .skills{
        display: inline-block;
        padding: 9px 24px 10px;
        border: 1px solid #0F0F0F;
        border-radius: 36px;
    }

    @media (min-width:$q-mobile1){
        margin: 0px 30px;
    }
    .title--big{
        max-width: 294px;
        @media (min-width:$q-mobile1){
            max-width: 330px;
        }
    }
    @media (min-width:$q-laptop){
        display: flex;
        justify-content: space-between;
        margin: 0px 44px;
        padding-top: 88px;
        .title--big{
            max-width: 718px;
        }
        .txt{
            max-width: 450px;
            padding-top: 0px;
        }
    }
}

body[data-menu] .scroll-indication{
    position: relative;
    z-index: -1;
}

/* PROJECTS */
.projects{
    .txt{
        @media (min-width:$q-laptop){
            max-width: 630px;
        }
    }

}




/* FOOTER */

footer{
    display: none;
    @media (min-width: $q-laptop){
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 44px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid #0F0F0F;
        a{
            font-size: var(--footer);
        }
        ul{
            display: flex;
            gap: 44px;
        }
    }
}