:root {
  --footer: 15px;
  --text: 18px;
  --link: 22px;
  --titlelittle: 15px;
  --title: 42px;
  --titlebig: 52px;
  --titlespan: 58px;
}

@media (min-width: 380px) {
  :root {
    --titlebig: 60px;
    --titlespan: 68px;
  }
}
@media (min-width: 540px) {
  :root {
    --titlebig: 79px;
    --titlespan: 85px;
    --title: 52px;
  }
}
@media (min-width: 1024px) {
  :root {
    --titlebig: 88px;
    --titlespan: 100px;
  }
}
@media (min-width: 1200px) {
  :root {
    --footer: 16px;
    --text: 20px;
    --link: 25px;
    --titlelittle: 16px;
    --title: 71px;
    --titlebig: 109px;
    --titlespan: 121px;
  }
}
@media (min-width: 1450px) {
  :root {
    --footer: 18px;
    --text: 22px;
    --link: 27px;
    --titlelittle: 18px;
    --title: 78px;
    --titlebig: 120px;
    --titlespan: 130px;
  }
}
:root {
  --footer: 15px;
  --text: 18px;
  --link: 22px;
  --titlelittle: 15px;
  --title: 42px;
  --titlebig: 52px;
  --titlespan: 58px;
}

@media (min-width: 380px) {
  :root {
    --titlebig: 60px;
    --titlespan: 68px;
  }
}
@media (min-width: 540px) {
  :root {
    --titlebig: 79px;
    --titlespan: 85px;
    --title: 52px;
  }
}
@media (min-width: 1024px) {
  :root {
    --titlebig: 88px;
    --titlespan: 100px;
  }
}
@media (min-width: 1200px) {
  :root {
    --footer: 16px;
    --text: 20px;
    --link: 25px;
    --titlelittle: 16px;
    --title: 71px;
    --titlebig: 109px;
    --titlespan: 121px;
  }
}
@media (min-width: 1450px) {
  :root {
    --footer: 18px;
    --text: 22px;
    --link: 27px;
    --titlelittle: 18px;
    --title: 78px;
    --titlebig: 120px;
    --titlespan: 130px;
  }
}
@font-face {
  font-family: ITC Garamond Std Light;
  src: url(../assets/ITCGaramondStd-LtNarrow.otf) format("opentype");
}
@font-face {
  font-family: ITC Garamond Std Regular;
  src: url(../assets/ITCGaramondBookNarrowRegular.otf) format("opentype");
}
@font-face {
  font-family: PP Neue Montreal;
  font-weight: 400;
  src: url(../assets/PPNeueMontreal-Book.otf) format("opentype");
}
@font-face {
  font-family: PP Neue Montreal;
  font-weight: 530;
  src: url(../assets/PPNeueMontreal-Medium.otf) format("opentype");
}
body, .menu__el a {
  font-family: PP Neue Montreal, sans-serif;
  font-size: var(--text);
  line-height: 1.45;
  color: #0F0F0F;
  font-weight: 400;
}

.menu__el a {
  font-family: ITC Garamond Std Light, serif;
  font-size: 79px;
}
@media (min-width: 650px) {
  .menu__el a {
    font-size: 98px;
  }
}
@media (min-width: 1024px) {
  .menu__el a {
    font-family: PP Neue Montreal, sans-serif;
    font-size: var(--text);
  }
}

.menu__flo a, .typo-diff, .title {
  font-family: ITC Garamond Std Light, serif;
}

/* titles */
.title {
  font-family: ITC Garamond Std Regular;
  font-weight: normal;
  line-height: 1;
  font-size: var(--title);
}
.title--big {
  font-family: PP Neue Montreal, sans-serif;
  font-weight: 400;
  font-size: var(--titlebig);
  line-height: 1;
}
.title--little {
  font-family: PP Neue Montreal, sans-serif;
  font-weight: 400;
  font-size: var(--titlelittle);
  text-transform: uppercase;
}

.projects .title {
  max-width: 15ch;
}

.typo-dif {
  font-family: ITC Garamond Std Light, serif;
  font-size: var(--titlespan);
  line-height: 0.72;
  vertical-align: 1%;
}

.scroll-indication {
  font-size: var(--footer);
}

.skills {
  font-size: 27px;
  font-weight: 530;
  text-transform: uppercase;
}

/* LAST */
.last .txt {
  font-size: 34px;
}
.last .txt span {
  font-size: 39px;
  font-family: ITC Garamond Std Light;
  font-weight: normal;
  vertical-align: 1%;
  line-height: 0.72;
}
@media (min-width: 1024px) {
  .last .txt {
    font-size: 38px;
  }
  .last .txt span {
    font-size: 43px;
  }
}
@media (min-width: 1024px) {
  .last .txt {
    font-size: 42px;
  }
  .last .txt span {
    font-size: 47px;
  }
}

.circle-yellow {
  width: 369px;
  height: 324px;
  position: fixed;
  top: -5%;
  left: -30%;
  background: #FFF973;
  filter: blur(62px);
  z-index: -10;
  border-radius: 184.5px/162px;
}
@media (min-width: 1024px) {
  .circle-yellow {
    width: 763px;
    height: 469px;
    top: -10%;
    left: -20%;
    filter: blur(62px);
    border-radius: 381.5px/234.5px;
  }
}

.circle-violet {
  width: 337px;
  height: 362px;
  position: fixed;
  bottom: -5%;
  left: 50%;
  background: #E698ED;
  filter: blur(85px);
  z-index: -10;
  border-radius: 168.5px/181px;
}
@media (min-width: 1024px) {
  .circle-violet {
    width: 508px;
    height: 546px;
    bottom: -15%;
    left: 50%;
    filter: blur(101px);
    z-index: -10;
    border-radius: 254px/273px;
    transform: translateX(-50%);
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #0F0F0F;
}

body {
  background-color: #FCFCFC;
}

/* NAV */
.menu {
  display: flex;
  align-items: center;
  margin: 32px 33px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
@media (min-width: 380px) {
  .menu {
    margin: 32px 30px;
  }
}
@media (min-width: 1024px) {
  .menu {
    margin: 34px 44px;
  }
}
@media (min-width: 1600px) {
  .menu {
    margin: 34px 132px;
  }
}
.menu__flo {
  flex-grow: 1;
  z-index: 65;
}
.menu__liste {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0%;
  opacity: 0;
  z-index: -15;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
  background-color: #FCFCFC;
}
@media (min-width: 1024px) {
  .menu__liste {
    display: flex;
    opacity: 1;
    z-index: 50;
    pointer-events: initial;
    gap: 44px;
    position: relative;
    width: auto;
    height: auto;
    left: 0;
    flex-direction: initial;
    background-color: initial;
  }
}
.menu__burger {
  z-index: 60;
}
@media (min-width: 1024px) {
  .menu__burger {
    display: none;
  }
}

@keyframes textSlide {
  from {
    color: transparent;
    transform: translateY(10px);
  }
  to {
    color: var(--color-text);
    transform: translateY(0px);
  }
}
body[data-menu] .menu__liste {
  padding: 0 33px;
  opacity: 1;
  z-index: 50;
  pointer-events: initial;
  animation: textSlide 1s ease-out;
  animation-delay: -0.03s;
}
@media (min-width: 380px) {
  body[data-menu] .menu__liste {
    padding: 0px 30px;
  }
}
@media (min-width: 1024px) {
  body[data-menu] .menu__liste {
    transform: none;
  }
}

/* logo */
.menu__flo a {
  font-size: 22px;
  color: #0F0F0F;
  padding: 4px 10px 2px;
  border: 1px solid #0F0F0F;
  border-radius: 20px;
}
@media (min-width: 1200px) {
  .menu__flo a {
    font-size: 25px;
  }
}

/*MAIN*/
.main {
  overflow: hidden;
  z-index: 0;
  /* @media (min-width:$q-laptop){
      margin-top: 104px;
  } */
}
@media (min-width: 1600px) {
  .main {
    margin: 0px 88px 0px;
  }
}

/* ABOUT */
.about {
  margin: 0 33px;
  padding-top: 141.89px;
  /* 48px + 93.89px*/
}
.about .title--big {
  max-width: 9ch;
}
.about .txt {
  max-width: 34ch;
  padding-top: 160px;
}
.about .scroll-indication {
  position: fixed;
  display: flex;
  gap: 8px;
  z-index: 1;
  right: 33px;
  bottom: 32px;
}
@media (min-width: 380px) {
  .about .scroll-indication {
    right: 30px;
    bottom: 32px;
  }
}
@media (min-width: 1024px) {
  .about .scroll-indication {
    right: 50%;
    bottom: 102px;
    transform: translateX(50%);
  }
}
@media (min-width: 1450px) {
  .about .scroll-indication {
    right: 50%;
    bottom: 132px;
  }
}
.about .skills {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  max-width: 390px;
  margin-top: 192px;
  margin-bottom: 80px;
}
.about .skills__el {
  display: inline-block;
  padding: 6px 30px 7px;
  border: 1px solid #0F0F0F;
  border-radius: 36px;
  width: -moz-fit-content;
  width: fit-content;
}
.about .skills__el:nth-child(1) {
  transform: rotate(-30deg);
  margin-bottom: 20px;
  align-self: start;
}
.about .skills__el:nth-child(2) {
  transform: rotate(13deg);
  margin-bottom: 40px;
  align-self: end;
}
.about .skills__el:nth-child(3) {
  transform: rotate(-15deg);
  margin-bottom: 16px;
}
.about .skills__el:nth-child(4) {
  transform: rotate(3deg);
  align-self: end;
}
@media (min-width: 1024px) {
  .about .skills__el {
    padding: 6px 40px 7px;
    max-width: none;
  }
  .about .skills__el:nth-child(2) {
    margin-bottom: 28px;
  }
  .about .skills__el:nth-child(3) {
    margin-bottom: 10px;
    transform: rotate(-15deg) translateX(-31px);
  }
}
@media (min-width: 1024px) {
  .about .skills {
    margin-top: 137px;
  }
}
@media (min-width: 1450px) {
  .about .skills {
    margin-top: 171px;
  }
}
@media (min-width: 380px) {
  .about {
    margin: 0px 30px;
  }
}
@media (min-width: 1024px) {
  .about {
    display: flex;
    justify-content: space-between;
    margin: 0px 44px;
    padding-top: 126px;
    /* 22px + 104px*/
  }
  .about .txt {
    padding-top: 0px;
  }
}
@media (min-width: 1450px) {
  .about {
    padding-top: 192px;
    /* 88px + 104px*/
  }
}

body[data-menu] .scroll-indication {
  position: relative;
  z-index: -1;
}

.scroll-icon {
  position: absolute;
  top: -2px;
  right: -12px;
  animation: animate 1s infinite;
}

@keyframes animate {
  0% {
    margin-top: 0;
  }
  59% {
    margin-top: 5px;
  }
  100% {
    margin-top: 0;
  }
}
/* PROJECTS */
.projects {
  margin: 0 33px 0;
  padding-top: 20vh;
}
.projects div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20vh;
}
.projects div .title {
  margin-bottom: 16px;
}
.projects div .title--little {
  margin-bottom: 8px;
}
.projects .txt {
  order: 4;
  margin-top: 24px;
}
@media (min-width: 1024px) {
  .projects .txt {
    max-width: 630px;
  }
}
.projects .work-l {
  width: 100%;
  box-shadow: 9px 13px 18px 0px rgba(166, 166, 166, 0.45);
}
@media (min-width: 1024px) {
  .projects .work-l {
    max-width: 442px;
  }
}
@media (min-width: 380px) {
  .projects {
    margin: 0px 30px;
  }
}
@media (min-width: 450px) {
  .projects {
    margin: 0px 60px;
  }
}
@media (min-width: 540px) {
  .projects {
    margin: 0px 90px;
  }
}
@media (min-width: 650px) {
  .projects {
    margin: 0px 120px;
  }
}
@media (min-width: 800px) {
  .projects {
    margin: 0px 144px;
  }
}
@media (min-width: 1024px) {
  .projects {
    margin: 0px 44px;
  }
}

/* LAST */
.last {
  margin: 0px 33px;
}
.last .txt {
  margin-bottom: 19px;
}
@media (min-width: 380px) {
  .last {
    margin: 0px 30px;
  }
}
@media (min-width: 1024px) {
  .last {
    margin: 0px 44px;
  }
  .last .txt {
    margin-bottom: 132px;
  }
}
@media (min-width: 1450px) {
  .last .txt {
    margin-bottom: 142px;
  }
}

/* FOOTER */
footer {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px;
  border-top: 1px solid #0F0F0F;
}
footer .place {
  display: none;
}
footer a {
  /* color: $c-text; */
  font-size: var(--footer);
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #0F0F0F;
  }
  footer a {
    font-size: var(--footer);
  }
  footer ul {
    display: flex;
    gap: 44px;
  }
  footer .place {
    display: initial;
  }
}
@media (min-width: 1450px) {
  footer {
    padding: 44px;
  }
}
@media (min-width: 1600px) {
  footer {
    padding: 44px;
    margin: 0px 88px;
  }
}/*# sourceMappingURL=app.css.map */